<div fxLayout="column" fxLayoutAlign="start center">
  <h1 class="header">WELCOME TO TABS</h1>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="tab-title" fxLayout="row" fxLayoutAlign="center center">
        <mat-icon>translate</mat-icon>
        <span>Intent Recognition</span>
        </span>
      </ng-template>
      <app-intent-recognition></app-intent-recognition>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="tab-title" fxLayout="row" fxLayoutAlign="center center">
          <mat-icon>priority_high</mat-icon>
          <span>Wake Word</span>
        </span>
      </ng-template>
      <app-wake-word></app-wake-word>
    </mat-tab>
  </mat-tab-group>
</div>


