@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

body {
  background: url("assets/images/cover.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
}
